@import '~antd/dist/antd.dark.less';
@import './ant-custom.less';

body {
  --row-highlight: @background-color-base;
}

.App-logo {
  background-image: url("data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGwAAABsCAYAAACPZlfNAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAB38SURBVHgB7V0HfFNVFz8vSVdKm+7SCbRAW8qeFigFCpRR9lDKEItFZSnKlKEsAQFlibJllSGK8MmQJbI3AgWU0bLLKF0U6Mo93zkvpVi7EsRSIP/f77XJy8sb99x7xv+cewNghBFGGGGEEUYYYYQRRhhhhBFGFAUquwM4hAIMMAMjijsqegAob9ELBIXDGoDPFWBEMYbCpY+JiRqHDpuI9AZBWbodGFGMobCf5eXtjxkZmRgQEERCM40G6GUORhRXaNYHBTURSDh7NhoVChNSjfYzwIjnjudjayQpIy09U35ZoUIZGDpsNIBIjABwqgdGFEfYjbN3cBdaIQ8yfPw4HcuW80eQSuwgP0TiI2i30REpNlB69JIkJd67l4xPsGLlj2TLJHJAPDuBEQWgYl0Ar5ZPOnbRwLRMZRbOuh+3iCcC41FWr35DGmUWJ4r2Zl4mOH5NvT1d7tjg8i4UHXxcAVSpkybNyBYY43+ //IaSxKOsbGcwIicUzh+yoHq98z76VagqQLLeAkWHHpYgmcV+/PFw/CcaNmwuACz+AGioAiOy4ORNHTytVWjYY26jzl26kcDUR/X55nNyBFIFaT0ThYKC5n9gyNAhpA5Tq4Di7GcAnZVghARS+jI7OwfTr6ZPkTuxuZm5FkBblE5ZWX+SvXbhokiBeSCoYUsWJG12RwD8XOC1hv2nkqTCTZt/z26fDh270ggz12uEPR+oXJrRXzx58q88BXbtWiw6OblmCc0kmQT8mnqOjmWpsR4N+nhkjvZp164zO2d7ocigcHtfqVRj8oNUzA8TJ84gWwZoWaJkEt10BoDrm/Bagag6SXPczc0br1+/laNtmjZrRSPMaicUGRTOn6rV9oK5xPzw6FEqenlXwEqV62Lbdt1opKmSQOE0GF4b2I0zM7PErb/+lqttatWuS1Se7WooMihcRqktHYj81WJBWLt2o5AUKly4aBW+/8EgnYpU2Ix7teO0FmbUMd+jRhIRfT7K1SYpKaloYWEj6JhPoMigcO2vUJjhw4epBQqMmavmLdqjo6M73rp1D0eOGodKJRHFkt1agBoO8MqhBrnv1ivJMRQVK9bAu3cTcrXJvn3HhS5wtg+GIoOqVGNgp+OPiwILQVxcAjo4umD7DmEkQEEU1gZi901JaFZHdYnQVwGUwFW69iYKKIHeoI2tEx48dCLP9pg2bS4JTJkG8EZpKDq4l6OLZsyevahQgTFmz14iJzpnzZ4vv/99zxF0cXHnfTEAld+AlxqhahpVq3WjRiKmR4GRkRvzbZePPhpKx5nfBhhkAUWHz1UgWZ5p3/4tvQTG6NtviKwKmL5iXL0ai1Wr1mFn5DEoy0TAywiZ6Da7qVZr0skjTOLnmzFzXoHt8FbXtzmrcQw4oC5a2E92c/MShdmxJ0hKSsFmIe1QY2OP+/YflffFxSXiO+Hvc88kI6yZ8PI4I76lQeHwHfOmjRq3xE6d35MdqnHjpxbaDjVrB1HHtV0FRQ/bMM40X7x4BfVFQmIKVq5Sm5wQ1+zvZWZqceiwz3S1IQqr74iDLAHFGUqvbvTnpoWFNan6efjFpBnITMaw4WNRqy1c4fj4VmOBzYIih2kgpVgAd+7ar7daZMTevo+WlnbYf8DgHN/7bt4KVKnMSF1oTgF0s4Zih1a2AJqfeFSFtu6Kl6Ov4sxZi9DExAzDew/Q69kTkx6ivb0LCcz5Uyh69LSnniYWL1mDhqJuvWDs3PntXEHczp0HdM6IZH6TAk9/KDao4QugvqTR2OE3c5diamo6jagJ8sjqGhau18hiHDt+WpfkBduWUPQgJl4yS53zzWI0BKwC7exccMjQUXl+fvFiDJb3qcwPlsoXoe3FFqoqnEeQY3S/jJc/ueonMebKTaxVKwg54z5t+hxMT8/U+9m/nvEtc6vk0ge4QdGjfBV2FjZu3IKG4NatONlAr4z8Kd9uee/effTxqZhFHgPHNmdooxwbnKeNQgG4Qls0bVG07aPtV9p+pI0rt7rQZgP/Gn7lSD1vZ9saTo7R/ftJuHrNBtRoHNHD04u83R1oCHgUlvepgqxWDbmL55dUVMb5KsBE8vOrwI2qt3d3+849+fiSJV3zPcbBwQ72799NKnJn5t69e81jY2Nl9cj5N6VSqX1yXEZGhio+Pj7j0aNHJsnJyem3bt1SJCUlDaSP7tC2m7ZDtD2kjWIlWfiPs97fo+0+6ISfmPPqdmQ/lT0ALo53cHCynfvNCggJaQRz5iyA8eNHQePgFrB82Xyws7MFQ7Bt+x648NdpeuW5CCAJXgAcB1hZ2Yv795MNcjqioi7JLP7PG7bj8wYJTrtv37607t27Z7i4uKTTdeRrFbDF0baZto9oq01bLfKmDrKd6d7jPYyNjaMUUhQG1G0i256RoyZgRqb2me6tz3uD6F7Mo19gJt5+QAkrO4MFxgZbTV7isOGf5/k584+sPrioJzU1Q6azeF9mPg0l8rm6lk6SmJiopRGo5f+83b17Nz0qKurRrl070+bMmfM4PDw83dfXN41GbkaWAIWTkxMuWLgYHzx4TA7GQrRQW1PWwRd//OlXg57znxj44QgSmMk1gD4mhrTyc1SJGfGpj9PhwYMkyc7OSu+vmZmZQFjXHjhr5tdS7/BeUK5cKUBqqgMH/yBVsxT27tsDD1MeQGpaKigkBdjYasClpAu4e3gKC3Nzdv0VsbdvS9euxaDQZkrplOJRqZRS6VLeGNatB7Rt00wyNVWy+pQ0Gs0/VbXC0dHRxN/fHxo1aizvoLaE6Ojo9OPHj2vv349XtG3bBuLiUkj1NYGjR/ZDeO+BMG3qOLC11fyroL5mzRr8zwngKNuCq/p+7/kxCSY16kDG8UM7du7H4MZ1Czzv2bNncfr06ThlyhRuMIiOuQl1ateEwAbB0KZNG5g8aQJcuBDFpKlUp0498Cnvh7a2NiSMDKKwrsLvu3+DGzcuSDY2TiRwc1CqFODk5Iz2djaSs7M7ZmozpBPHj+GlS+ckF9cyULFiFchIT4fHqalgYqoCVxc3sLe3w+YhIVJg4BvU+Hl3MK0WYfpXc2Ds5yPJjrpA5KpVUK9udXge2LR5twht1ZTayZ9ChFMXoOhBQ1uyjH034qN8VUVaWhplnidQcGkiQkNDKReUkqXGBPbrP5SdBzlYDqgbjOt/3s5qLNc51v+8BRVKU6xXL1jcuZNYoNpZvuJHOTZie1O2bJXMBg1CMuvVayyqVa+D3mX9BBOznJ9rHNwW9+8/liOfd/RYFAY2aCIHwm91DSd7mI7PEz/8sIlUooqeuaYXvDhYj1EqzfDGjdu5bpAbv0OHDliihGX62rVrtU+EsXnz79iiRVu5YavXCMTtO/bIAswLs+csRisrO2zZshO5+vGoD6ZN/wZNTS2warW6+Odfl7P3sw08ceIcTv/qG/RleogYiypEk40dO4X4zL50HRus4F9NrF69Xu9A2BB0DYugjmR2WU5wvji4UwCoSuj9bv9cT0hGnQJkO3Ho0KG0J/smTJgqe2f+/tWYMRDp6Rn5PuC2bb+jqZkau3WPoMY2rAFPnDyLpUt7Y8mS7rhj58FcnycRRbT+583YuHGrbC+ydp1gbfKDR/hf4NKlazRyzYkrdZoGLxwKlxlq8qSuXruT4yYpfhJHjhyWqXz2+CIiBjE7IMZ8NhmTkx8W+IDsofn4VhFVq9UT8QnJ+Cy4evUWqdqmqDKxwJ493yVa6EyuY3hk79q1n1RkG1KVJrh8+Q/4vMHKo1OnnsxwEAHgZg8vHkzUKhPefjsiT1Wyc+c+bBAUkpUWB2K3vyp0uIwZM1mec3bo0HH8N3hEHeXzsdPQzd1T7uHt2ncTR46ezDMUaNs2DN3dy4iUFLk4Fy9cuIAxMTH/WjfOnDU/iz/0CYdiA4XjAFNTc7JHe5821qNUnPjFdJ0TIKkfgKx6FBmSQom/bNqZ7wNu33FA5uk4SH1eiCNaadKkmcLLy1fOCFeu8gZOmjwTr11/qhV27ToouJPs2nVAft+zZ08kD/ZfCez8+Qtobl6Cyd6lULwwj4JBi0tBQSHyjfJI60FMARv2GrVaEJtg9oii/HMA1WsQEx/VOLhlng94+swF2fg3ahwqDCFV+Xrbth+kvNo40bv3QDGaRujmLb+LtLScNpJt17ofN2Kr0I6yd0pMDTk0HcXevcdITT9CVzdPHPHpePnYhQsXooODgzY/h6gw8PcCA1twwSixGwF2UOyg0PShv0gBMA4eMoZshzkx8pOEu3spTpeQsEpllWw7TnJwKCk30N/ByU0f38roWcoL7+rpETIOHz5JLry/rHasrO3RsoSDHC7wprFxpLzbcLxxM7cXe4top4kTv8aSLmXkY/0qVBf29iXFm292kz/nEIR4Szx48OAzcVE/rd+UpQqdekLxRCVbEsyVRo1aaVnt9Os3jFQP12yYXtMl/7KgKtuM1eTZc5fF096IdPxgYWqqxlM0yvQBOzITJ06T1ad/xVpi+47DYsn3qyib7cFVSUQ1WR6nkX2P5wDwaGrevD1liL/HhIQHOc6TRiN57doNon79ZrLH6OJaSjyhwby8vAQF+2goeMTXq9+YZ6gU97lymvn0B+vUaYijRk8iYTGz7pNz3rPKN4j24+nTT0vkyH7ITsEoPe0WC/id8AGyPfp05ES8ees+vvlmL12PlmzXA3jXkxvKtomGOlIlGv3DKMg/yumgKlXrkG25mOucKQ/T5JoTvv9dvx2W7y00tJW2X79+aCjIRsv2EJQ+XaBYQ+E6jBtx4aLVgtfxoLTUuNwHOY6ytnbAe3FJ8sOxaqxStS76+lVDfQt6hgwdIxekfjltLqnPBGzarBO7zZTwdPso/5sjZkbh9gFPRPTw9MR9+47mOm90zA00Iedp6NDRuusMGZIZEhKChoC9zEqVatD9WB4r5gvOhBNBZ3Gry5u9RXjv/ly+Ruqo4T8SiVxgY5bQvkNY9uia8uUMwaNr66+/62Xdjx49LY+s0TSCeaS1bRfGIysJVN6N9LvPkq14pHmXrZir1JxVob9/TdGTQhQGpWrE6NGjUV+wKvyg7yfsDZNm0fd+Xhgc+nBD7t59CK01jmQPbBbkcUw3VlsnKMfEiI29R2yEG3mUfVBfZ6xW7YaievX6cnA9b/6KrGorj4/BEEg2PHOEYq3Luc7fIKiFCAvrhYYi7n4yDhw4+EnNxjAo/lBvqV07CDdQYlJnu3xr5Pw8hFxbi+jABi2zRTNo0Egkzwxv376vV6OcPx8tz6FevHil/D4ggFfhUW8Hg1FiFDfsuXO5HZyghoYJbMvW3aJT565CpTJnB4viTZcRUPRFooaCdLVknjxixOfYf+BwGl1m13NlVhX2o9ij+/PPaPlBmYVwcfGUq470xbx5y2SvMC4umRiJNFSrbWh0OQ8Hg2EXwQK7ezc3+x/YoLkI6/aOXveTlpaJTs5ccm52g55vIqnBsvCc8R8ZwQMOgGlW5X18MOo0edOgPA+wO/Pp56Wrgkge8s4776OPTxl5z6rItRB7+wZ8OHCA3lc5/6cusLa3t5JOnz5PbEoi5YjtdoOhUKofcqhG6Z8cu2/evAtRUccpx+as12nGjZ8Ed+/cJHPt0RvE/ZEAly/By4EanvQHf1i3iStbeUm+hU8/oyhfsjjv7e2T3aPjyEP08vYX9Uk9GsIkvPVWuODycH69YeMOXV2GWWg5MBRKr4783QsXr2Wfe/3P27BatboUPDviqVN/FnovnMaRS8zBfgK8fGhjxcm5yVNmkIsewKXIT2cXKuymMZt//Pjp7IflEmdWbSdOnEFD0LlLL+HhUU4W2OrVG3UOB/R6hpI22358/SeZgC1bf0NHp5JyB+j97sBC7+P0mYvCwsKKOqb114bWaBQTMJMhYanSFeQHJuN7ix5EDVDHneKjuL79hmUPI3alPUuVo6yufnbi7xg3fqowMVULzo+tjFzPzg1tfZ+hFt96qZ9fdfmcp06fo7ydEyU8A4kxqU15saBCh/y33y7Nyj40c4KXE+05zyP30Jq1gjPkh1E4rADJ6pC1tQ3G3o7Lfti9+47Jx23avCt7X0JCIsU8xwprJ/x12z6ZPjp16hIRvF/Qa9NUw8vGKOMrqa990HcIZaSvoKent+w4XKes+aLFawSPvNjbCQXexzvhHGeaJ7/EK7HqRlgZr0pZPU+ZlcmVcPmKn3M8LCcyPTy8BadfnmDylNkUj5URxA8W2LsvXLwpn/OXTbsFu98glfgVDIZTRz7HW2EfaG2IHPb1rZQdjx06dFK+7992HynwPgIDg+k+SmyFIsB/1CPU1NvMHnfv1kXaunUXkLqDFi06ESG7D7p3a5t9FFFPsHrNMmgQFAwWFrrSBvI54Ie1a7HOG7Ulc3OTAuMXMzNT+f+DBylw9eoVzgKcBYPA4UeqvObT6sjvFMFNmsOePXugXDldXYy9vQ2FeUo4f+509n3s238CgoNbQqvWb3JwL++LuXKdNIj6HLzUUGjW+PhWxYK8vh/WbZZ78LHj57L3JRGXaGXtSHmosVgY4uNTOCEqFiyIFDVrNeBJgIYtnaAqH8yenUw0j5mavd7jE3Dpgp9fZbJjgaR2z+HtO/Fkl31Ic/jKqnLV6v8JtsG85AUoXAbByw1HYqYVmbNmL8Gos9HZLXH58g1ctmy12LlrP4b37ifc3L1loT4kdpydh7/+ipFLz+bPX6GXf89VVCNGjCXnRrYjN/W3YfVJbZtcYu9uZeRP+Z7/l02/yddgmk1taYOmppakIo+iqZkVfj1jvrhxI07uNMRohMHLDa5TtPqJsszClryuO3fjxYKFy4SZuZXsZHCuy8zMimxP60yuM1ep1CK09Vvit90H5FG3Y8d+feTFqRvROLgFHj5ySq4zBAXPZuSJ4fmBF48u1YiXu+N7mPPN94Veg5de+vbb78Xw4WPF4SN/UFL2hGw76R7F7t8P6uI/lUt9ePnRmVxs89gOHcMEl6mZmamxVp3gDOqRxC1a3IAsR4SsUQrlrbZygei7EYNYqCIhIUUvgS1espqOt8Rvv1uBI0d/mXU+i7+IGloOSs8IyrcFgMqvCRHC/YiA/h85QDGsBu3t3Ynn3IyG4vadBHL5A9DVzQtT0zJw0aKV7FRlFvGyDf8VQj05gF5BKmfu3EVobmEl9u47o9U1qkcbUDqHg6LkUJn9MAspy/tVKgtto0ZNC204Xk2HC0r3HzhJBG2oLCgTEwvmLXmWSq6ZKZxALEspFB7NO3buyzPXxnWR+/cfp/juK9GhQw/KBARhjZoN5NXoGgWHipo1A8leWckT6bkUgauB/SvWpGtqdrwaq/mofBvSX2IwzovIyB8pyWhKauSwztVXlm2d63jJkr08DkQLFNaly9flohl7e2d51HJa5eChUzh+wgxs3aaLqFEzAMuV8xeVKtcUzIYsWLiaCeJ8z5eYmExC+ppGqnUWvSQ9FbRSRaS0B1apUovc92Zi2PBxIjZWV2MyZMgYZlfS9c+9FXs49eWeTel2cePmPbnEq3//T7lWgxrFcUSuwyWLPXZ2JeWscUFgVcY01JGjZzC4SRvkRbdWRj6N79jZezItqTBsJ1vp7e2H8tq7CpflIGliOW50d/cRU6fOEQcOnpSzxn8/1x3yFiMi+sqOCDH9Y1+htbKsJmkoefnkQQcMGExCs6QGtid2vMT8nMdWcyWm4n6Hjt0LbeZzch5MQSNxCbETMbKTUqKEhji9wknav+OzzybrGl3iAp2S5KyYPuJllT777Ms8VSavFTV8xDih0ThxCUIKqfMiXNCrSGA5082tbLYATp06Lzcs2RmtbrXtJy54Z4qALRfzWhdRUfpVSTVp2lYEUTZ4+lffCZ3RN49t2rS1Xt9NSkrGiD4D2R3P5AVRKPO9gl5ntGzVAa9cuZHreE7186QIewcmhJVJoHBcrPs1p1cO6jlM98THJ2U/PNsUkO2DKh1MK1QAqBRAo20dB6ILFkaivujff7DsSHDMRgHzfFC4yXWQ381bXuBsE+YxmzVrzyqVgl33sSDZ/MBldkyH5Rfkz527UGfXJLvNAFVLw6sLG17hhTLDS7Nb4l5cYlahJwvN4oE8d6tcBVy0RH9hMapVq89k73WKu77UpTQ6Kyl1s0ZBAmzduiMeOXLqb1NsBdmd+xSwr8Hy5XnmvvIeOT3dKB2y2oY8Pmb68wPLsHp1upZk+ww85csGyZoJUfKumubouhUr1UFnZ08kjwt/3rAN4+4noqFoFtKO1Kr1zzkv+DmpWJc+IJle47I3Z2cP6hwV0MvLh1xxB10nkUrsJXVWnQQ9gUfWunVbCrSZd+4kkadoJkDp3htebTDTYXHZsoRzuoVFCXIOdLUbR45GySpx/fr81/NITErBrl0jsPYbzUReq5yyymsQ1JQa33pD3tdmNsO7HdmaiTTqFpGdWqBzEKr7yR6dXI+ozBgytPCStatX7+qCcaV7e3i1wSkW0+TxE6YLtaWdaNioBT5ISaVU/k5ZYJcu3czRMKy2uGz6xMk/RafOveTR4OLqlcuunD13EXv16qvLLiudn4G/86jI9rNPnw/1cvsTkx5RzKcmO+liWOncf4T/cI2IeOLz0Lx0aXcIDGwIv279CapXqwGduvQCbuwZM7+hlEsz+Ouv89LFC3/SCLwknT51AuLj7xL9qABLS3usWaMm3L6dJEXHxKBGYw3ff78UIiOXSbG3bj4i6mkEaO8Usmwdx0cSPn3fzgZg67pKlaqbjB8/hq4DhWLuN/NAq03lKVR6z/R/ScHlAKqMVavWiZAWHeVpsZUq1c5jMRMJLS01FAC3ppHVW/bGPvxwOHp5V6S0hwU+ZR2kv33HPJVyX5fJadlItojiOfeOul+dKB8ICnZ01L+SrbpO8dVdOvYIvf8FFJZL6PVdV1ePPGdf/hMcXoSGdtZdV6GJfA1+17OhAwfC06bPEZUqvaG1d3AlgURoJYUZfjhorNzwn437OrNy5QBi23XFpDxPq3z5ivLqMqXL+Muc49xvl4sjR8+KXr3khS+xQ8ceWK9+iOAprbVq16fjfHVhgqSO5889Pb14Phl+/MlIHDV6MrZr3xV9fCtSXqsK9ujZB6OjbxYoKF6TePToKcgTEknA1CncI14hJqNASNTDD7dq1UWo1bZZsZf82yxY0qW0PGdrxMiJwsursujQqQfFag+Era2zGDlqiiy8pk3bc0AseJlwRuvWnWX3mm3a5CkztOxlUgKT7Z08KusHhoj5C1bovSJqbkElUX7rO8EJSt0PIdhM17EvrxUspymVzJ5TkErbe+8PEYMGjRQffvSpKF3GL1vV0TGUM3OThbp27S+ywD4ZPEoWMC8CeZnIXl66YeasBXLjLqUEKJdC16sXIphQXhm5AZ8VFy5ewYEDh5JjZKvjEyVeXc2nMryWMKlSTScsne1Zumxttl/GNYDbtu/GNWs2iJmzFmLzFp3kY1q0aE9qcJlwcnKT3/OUn6UU8CoUSllwjPPnY7IWTAFiR1bhs+DQ4SgatTz6rXQjSuE8A4CLOV73H6dT2C2QV3yRbP8sV76S4BK2vMCx1cyZS4TGxk4uKq3zRjDxjlY4Zcps8VZYhOCk4d8xavQXOGDgcL0FxKpy4/+24fvvfyJKk9rTMe0WFwBshwP4FoflF4oLSpckoZE9KBvAo230mKkFRj88TefmrXg5RmrX7k3KeTmhR6kKGbw6jSHgghpm9efPXyq6dHmHRpJdlqdpfgkUVktA6dNZx4wYkT8UtrNYlZ06rV8aJCbmFvK6utzQn4/9omAB0Qg9ExWNS75fQzZyqGAPkvJkQk5ISpozxBuOI4+vua6M3Ag9weyH+nK58v74xPsrDDNnLyaXXYFfTp2dYz+vs0iCF199NU/wQi0aedKgpGPhwTROV7/h3h3U9djTM/5o6jPDtII/2bQ7AQGNKfd0VS+hJSY+ItoqGffsPUwx0mRRrXoDrqnPUnGqFOoExyjzOw2Ufq3Aqr3RHj1/eAUTox5XxsuPFzou0Kb9ceoC9uzZh6cVPbFByZxGITs0GMAtFCwbloTXaAS9wAe1LguScpkESQEBAUEYFtYDUlIeSV7epTA29g5GnflDOn7ipHTi+AE61vQGeXQUHzlTOqUZ7ZidBka8CPDPNjn1IJV2SLf4CWWh5XXcVQkkpMuUDV4P4Pk2pUpe1mk8zx3FSJVU9AbIeAxqIvlVTqmQbJ0E8IMWjDDCCCOMMMIII4wwwggjjDDCCCOMMMIII4wwwggjjDDCiNcG/welFAsDVNs9jQAAAABJRU5ErkJggg==");
  height: 40px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 40px;
}

.Banner {
  min-height: 30px;
  width: 100%;
  background-color: #fff704;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // z-index: 10;
}

.Banner-description {
  color: black;
  text-align: center;
  width: 100%;
}

.App-Bar {
  display: grid;
  grid-template-columns: 1fr 120px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0px;
  position: relative;
  padding: 1rem;
  z-index: 2;
}

.App-Bar-left {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}

.App-Bar-right {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: flex-end;
}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}

.discord {
  font-size: 30px;
  color: #7289da;
}

.discord:hover {
  color: #8ea1e1;
}

.telegram {
  color: #32afed;
  font-size: 28px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  width: 27px;
  height: 27px;
}

.telegram:hover {
  color: #2789de !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.social-buttons {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  gap: 0.3rem;
  display: flex;
}

.wallet-wrapper {
  background: @background-color-base;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.wallet-key {
  background: @background-color-base;
  padding: 0.1rem 0.5rem 0.1rem 0.7rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.exchange-card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  width: 450px;
  margin: 4px auto;
  padding: 0px;

  .ant-tabs-tab {
    width: 50%;
    margin: 0px;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
  }

  .ant-tabs-tab-active {
    background-color: @background-color-light;
  }

  .ant-tabs-nav-list {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .exchange-card {
    width: 360px;
  }
}
